* {
    box-sizing:border-box;
  }
  body {
    margin:20px;
    background-color: #fafafa;
  }
  .cont{
    margin-right: 450px;
  }
  form,fieldset{
    width:450px;
    /* resize: vertical; */
    padding:15px;
    border-radius:15px;
    border:0;
    /* box-shadow:4px 4px 10px rgba(0, 0, 0, 0.06); */
    height:600px;
    margin-left: 550px;
    font-family: cursive;
  } 
  fieldset{
    padding: 2rem;
    margin: auto;
    background-color: rgb(226, 235, 248);
    /* text-align: center; */
    box-shadow: #a88a8a;
  }